.calculadora {
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  background: #ebccd6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Centrar conjunto de botones */
.d-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Pantalla de la calculadora */
.pantalla {
  height: 50px;
  text-align: right;
  font-size: 1.8rem;
  padding: 10px;
  margin-bottom: 10px;
  background: #d5e2e4;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

/* Estilos generales de los botones */
.btn-calculadora {
  width: 65px;
  height: 65px;
  font-size: 1.5rem;
  background-color: #d7b8c2;
  border: none;
  transition: background-color 0.3s;
}

/* Cambia color al pasar el mouse */
.btn-calculadora:hover {
  background-color: #c98ca8 !important;
}

/* Botón de igual ocupa todo el ancho y es de color #C98CA8 */
.btn-igual {
  width: 100%;
  font-size: 1.5rem;
  height: 65px;
  background-color: #c98ca8 !important;
  color: white;
}

/* Color negro para los botones % y ⌫ */
.btn-secundario {
  background-color: #d7b8c2 !important;
  color: black !important;
}

.btn-secundario:hover {
  background-color: #c98ca8 !important;
}
